* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div1 {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.animated-text {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 30px;
    background: black;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: scrollText 4s infinite;
}

.line {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 35px;
}

.toptext {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.toptext:hover {
    text-decoration: none;
}

@keyframes scrollText {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(-60px);
    }
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: black;
    padding: 0 20px;
}

.header:hover {
    background-color: white;
    transition: all 0.5s ease-in;
}

/* Right Header (Hidden on Small Screens) */
#right-header {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    #right-header {
        display: none;

    }
}

/* Header Items */
#hamb,
#baroquetext,
#pakistan,
#arrow,
#person,
#search,
#lock {
    cursor: pointer;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#baroquetext {
    margin-top: 20px;
    margin-left: 250px;
}

#pakistan {
    font-size: 20px;
    font-weight: 100;
}

#banner-img {
    width: 100%;
    margin-top: -78px;
}

/* img button  */
.shop1 {
    position: absolute;
    top: 110%;
    left: 0%;
    color: black;
    background-color: white;
    border: 2px white solid;
    cursor: pointer;
    height: 44px;
    width: 150px;
    padding-top: 8px;
    margin-left: 560px;
    margin-top: -200px;
}

.shop1:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;

}

@media (max-width: 768px) {
    .shop1 {
        border: none;
        background-color: black;
        color: white;
        height: 50px;
        width: 120px;
        margin: 0px;
        top: 50%;
        margin-left: 200px;
        cursor: pointer;
        transition: 2s ease all;
    }

    .shop1:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 90%;
    margin-top: 120px;
    margin-left: 60px;

}

@media (max-width:750px) {
    .container {
        justify-content: space-between;
        height: 1700px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-left: 20px;
        padding-left: 30px;
    }
}

.item {
    background-color: white;
    margin-top: 10px;
    height: 500px;
    width: 350px;
    margin-bottom: 10px;
    cursor: pointer;

}

@media (max-width:750px) {
    .item {
        display: flex;
        flex-direction: column;
    }
}

#shawls,
#chantelle,
#rty {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    line-height: 1.5;
    cursor: pointer;
    top: 10;
    margin-left: 60px;
    font-size: 30px;
    color: black;
}



.shop2 {
    height: 50px;
    width: 140px;
    padding: 10px;
    color: white;
    margin-left: 80px;
    margin-top: 5px;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 50px;
}

.shop2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* SHOP THE LOOK */
#look {
    text-align: center;
    margin-top: 120px;
    font-size: 30px;

}

.container11 {
    height: 630px;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 20px;
}

@media(max-width:750px) {
    .container11 {
        height: 600px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 0px;
        padding-right: 0px;
        margin-top: -30px;
        padding-top: -50px;
    }
}

#items11 {
    margin: 10px;
    width: 500px;
    height: 600px;
    margin-right: 20px;

}

@media (max-width:750px) {
    #items11 {
        display: none;
    }
}

#client,
#style,
#spotted {
    cursor: pointer;
}

#item22 {
    align-self: center;
    margin-left: 10px;
    margin-top: 20px;
}

@media (max-width:750px) {
    #item22 {
        margin-top: 0px;
    }
}

#item22-info {
    margin-left: 30px;
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
}

.button1 {
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    font-family: Proza Libre, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

/*  */
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    margin-bottom: 100px;

}

@media (max-width:750px) {
    .container2 {
        height: 1600px;
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
}

/* #client,
#style,
#spotted {
    border: 2px solid yellow;
    background-color: blueviolet;
} */

#subscribe {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;

}

#holder {
    margin-left: 250px;
    height: 45px;
    width: 350px;

}

@media (max-width:750px) {
    #holder {
        margin-left: 50px;
    }
}


.subscribe1 {
    margin-right: 130px;
    margin-left: 15px;
    height: 50px;
    width: 300px;
    background-color: black;
    color: WHITE;
    margin-bottom: 50px;
    cursor: pointer;
}


@media (max-width:750px) {
    .subscribe1 {
        margin-left: 50px;
        margin-top: 5px;
        width: 350px;
    }
}

.subscribe1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

/*  */
.containertext {
    height: 200px;
    width: 1100px;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}

@media (max-width:750px) {
    .containertext {
        height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}

.itemtext {
    height: 160px;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;

}

@media (max-width:750px) {
    .itemtext {
        width: 250px;
        text-align: center;
    }
}



.containerlast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 1250px;
    margin-top: 100px;
    margin-bottom: 130px;
}


@media (max-width:750px) {
    .containerlast {
        height: 700px;
        width: 300px;
        display: flex;
        margin-left: 50px;
        flex-direction: column;
    }
}

.itemlast {
    margin-left: 20px;
    margin-right: 20px;
    height: 180px;
    cursor: pointer;
    line-height: 30px;
    color: rgb(98, 96, 96);
}

@media (max-width:750px) {
    .itemlast {
        width: 250px;
        text-align: center;
    }
}